body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1918;
}
.scene {
    position: relative;
    width: 100%;
    height: 100vh;

    background-attachment: fixed;
    overflow: hidden;
}

.scene i{
    position: absolute;
    background: #FFAF13;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}


